<section class="row-fluid">
  <section class="span">

    <section id="errors">
        <%if @error then %>
          <div class="alert alert-error"><%=@error%></div>
        <% else %>
          <p class="alert alert-success">File is: <strong><%= @file_name %></strong></p>
        <% end %>
      </section>
    
  </section>

  <section class="row">

    <div class="tabs-left">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><i class="icon-star"></i> Stats</a></li>
                <li><a href="#bubble" data-toggle="tab" action="">Bubble Sort</a></li>
                <li><a href="#selection" data-toggle="tab">Selection Sort</a></li>
                <li><a href="#heap" data-toggle="tab">HeapSort</a></li>
                <li><a href="#insertion" data-toggle="tab">Insertion Sort</a></li>
                <li><a href="#k" data-toggle="tab">K Sort</a></li>
                <li><a href="#merge" data-toggle="tab">Merge Sort</a></li>
                <li><a href="#quick" data-toggle="tab">Quick Sort</a></li>
                <li><a href="#shell" data-toggle="tab">Shell Sort</a></li>
                <li><a href="#shaker" data-toggle="tab">Shaker Sort</a></li>
                <li><a href="#" data-toggle="tab">newSortMiddlePivot</a></li>
                <li><a href="#" data-toggle="tab">newSortLeftPivot</a></li>
                <li><a href="#stats" data-toggle="tab"><i class="icon-info-sign"></i>BenchMarks</a></li>
            </ul>
    </div>

    <!-- Tabs contents-->
    <div class="control" id="tabs">

    <% sort @contents %>

                <div id="myTabContent" class="tab-content">
                  
                  <div class="tab-pane fade in active" id="home">
                    <table class="table table-hover span4">
                      <caption><strong>Ocorrencias entre simbolos</strong></caption>
                      <thead>
                        <tr>
                          <td>Simbolo</td>
                          <td>Frequência</td>
                        </tr>
                      </thead>
                      <tbody>
                        <% @frequency.each do |hash, key| %>
                          <tr>
                            <td><%= hash %></td>
                            <td><%= key %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>

                    <section class="span8">
                      <canvas id="canvas-stats" height="500" width="600" class=""></canvas>

                      <script type="text/javascript">
                            <% hashes = Array.new %>
                            <% keys = Array.new %>
                            <% @frequency.each do |hash, key| %>
                              <% hashes << hash %>
                              <% keys << key %>
                            <% end %>

                            var hashes = <%= hashes.to_json %>;
                            var keys = <%= keys.to_json %>;
                            
                            var barChartData = {
                              labels : [] ,
                              datasets : [
                                {
                                  fillColor : "rgba(151,187,205,0.5)",
                                  strokeColor : "rgba(151,187,205,1)",
                                  data :  []
                                }
                              ]
                              
                            }
                            barChartData.labels = hashes ;
                            barChartData.datasets[0].data = keys;

                            console.log(barChartData);

                      var myLine = new Chart(document.getElementById("canvas-stats").getContext("2d")).Bar(barChartData);
                      
                      </script>
                    </section>

                  </div>


                  <div class="tab-pane fade" id="bubble">
                    <!--<canvas id="canvas-bubble" height="450" width="450" class="span"></canvas>-->

                    <section class="hero-unit">
                      <span class="">Array ordenado:</span>
                      <p class="alert alert-info"><%= @bubble %></p>
                    </section>

                  </div>
                  <div class="tab-pane fade" id="selection">
                    <!--<canvas id="canvas-selection" height="450" width="450" class="span"></canvas>-->
                    <p><%= @selection %></p>
                  </div>
                  <div class="tab-pane fade" id="heap">
                    <p><%= @heap %></p>
                    
                  </div>
                  <div class="tab-pane fade" id="insertion">
                    <p><%= @insertion %></p>
                  </div>
                  <div class="tab-pane fade" id="k">
                    
                  </div>
                  <div class="tab-pane fade" id="merge">
                    <p><%= @merge %></p>
                  </div>
                  <div class="tab-pane fade" id="quick">
                    <p><%= @quick %></p>
                  </div>
                  <div class="tab-pane fade" id="shell">
                    <p><%= @shell %></p>
                  </div>
                  <div class="tab-pane fade" id="shaker">
                    
                  </div>
                  <div class="tab-pane fade" id="stats">
                    <section class="span">
                      <canvas id="canvas-benchs" width="800" height="800"></canvas>
                    </section>
                    <section>
                    <br>
                    <table class="table table-hover span">
                      <caption><strong>BenchMarks</strong></caption>
                      <thead></thead>
                        <tr>
                          <td># Algorithm</td>
                          <td>Times</td>
                        </tr>
                      </thead>
                      <tbody>
                        <% lol = Array.new %>
                        <% @stats.each do |key| %>
                          <tr>
                            <td><%= key.to_a.first %></td>
                            <% lol << key.to_a.last %>
                            <td><%= key.to_a.last %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                    </section>
                    <script type="text/javascript">
                    
                    var lineChartData = {
                      labels : ["BubbleSort","CombSort","HeapSort","InsertionSort","MergeSort","QuickSort","SelectionSort","ShellSort"],
                      datasets : [
                        {
                          fillColor : "rgba(220,220,220,0.5)",
                          strokeColor : "rgba(220,220,220,1)",
                          pointColor : "rgba(220,220,220,1)",
                          pointStrokeColor : "#fff",
                          data : []
                        }
                      ]
                    }

                    var datas = <%= lol.to_json %>;
                    lineChartData.datasets[0].data = datas;

                    console.log(lineChartData);
                    var stats = new Chart(document.getElementById("canvas-benchs").getContext("2d")).Line(lineChartData);
                  
                    </script>
                    
                  </div>

                </div>
    </div>
  </section>
</section>